$color-bg: bisque;
$color-primary: #be9b7b;
$color-secondary: #6f4722;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.coffee-bean {
  width: 2.5rem;
}
